.product-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 42px 0;
  flex-wrap: wrap;
  padding-top: 80px;

  @media (max-width: $screen-md) {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $screen-sm) {
    margin-top: 32px;
    padding-top: 0;
    padding-bottom: 36px;
    background-color: $color-gray;
  }
}

.product-item {
  position: relative;
  padding-bottom: 24px;

  &:hover, &:hover * {
    cursor: url('../images/rad-cursor-product.png'), auto;	
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-main;
  }

  &:nth-child(4n + 1) {
    &::after {
      width: calc(100% - 50px);
      left: 50px;
    }
  }

  &:nth-child(4n) {
    &::after {
      width: calc(100% - 50px);
    }
  }

  @media (max-width: $screen-md-xx) {
    &:nth-child(4n + 1) {
      &::after {
        width: 100%;
        left: 0;
      }
    }

    &:nth-child(4n) {
      &::after {
        width: 100%;
      }
    }

    &:nth-child(3n + 1) {
      &::after {
        width: calc(100% - 50px);
        left: 50px;
      }
    }

    &:nth-child(3n) {
      &::after {
        width: calc(100% - 50px);
      }
    }
  }

  @media (max-width: $screen-md) {
    &:nth-child(3n + 1) {
      &::after {
        width: 100%;
        left: 0;
      }
    }

    &:nth-child(3n) {
      &::after {
        width: 100%;
      }
    }

    &:nth-child(2n + 1) {
      &::after {
        width: calc(100% - 50px);
        left: 50px;
      }
    }

    &:nth-child(2n) {
      &::after {
        width: calc(100% - 50px);
      }
    }
  }

  @media (max-width: $screen-sm) {
    &:nth-child(2n + 1) {
      &::after {
        width: 100%;
        left: 0;
      }
    }

    &:nth-child(2n) {
      &::after {
        width: 100%;
      }
    }
  }
}

.product-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  max-height: 500px;
  height: 100%;
  overflow: hidden;

  @media (max-width: $screen-md) {
    padding-top: 36px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.product-item__link {
  text-align: center;
  text-decoration: none;
  color: $color-main;
  cursor: default;
}

.product-item__title {
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;

  @media (max-width: $screen-sm) {
    font-size: 14px;
    line-height: 14px;
  }
}

.product-item__notice {
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $screen-sm) {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
  }
}

.product-item__button-add {
  flex-shrink: 0;
  width: 183px;
  max-width: 100%;
  height: 47px;

  @media (max-width: $screen-sm) {
    width: 148px;
    height: 43px;
  }
}

.product-item__colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 30px;

  @media (max-width: $screen-sm) {
    .colors-button {
      .icon-arrow-left {
        width: 8px;
        height: 12px;
        background-image: svg-load("../icons/arrow-left-mobile.svg");
      }

      .icon-arrow-right {
        width: 8px;
        height: 12px;
        background-image: svg-load("../icons/arrow-right-mobile.svg");
      }

      &:hover {
        .icon-arrow-left {
          background-image: svg-load("../icons/arrow-left-mobile.svg", stroke = $color-purple-light);
        }

        .icon-arrow-right {
          background-image: svg-load("../icons/arrow-right-mobile.svg", stroke = $color-purple-light);
        }
      }
    }
  }
}

.colors-button {
  @include button-reset;

  position: relative;
  padding: 10px;
  z-index: 100;
  // cursor: pointer;

  &[disabled] {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    .icon-arrow-left {
      background-image: svg-load("../icons/arrow-left.svg", stroke = $color-purple-light);
    }

    .icon-arrow-right {
      background-image: svg-load("../icons/arrow-right.svg", stroke = $color-purple-light);
    }
  }
}

.colors-list-wrapper {
  width: calc((30px * 4) + (5px * 8));
  overflow: hidden;

  &.swiper-container-initialized .colors-list {
    justify-content: flex-start;
  }

  @media (max-width: $screen-sm) {
    width: calc((26px * 4) + (2.5px * 8));
  }
}

.colors-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colors-list__item {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;

  &[data-color-picker-active] {
    .colors-list__color {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $color-main;
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 2px solid $color-secondary;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: $screen-sm) {
    width: 26px;
    height: 26px;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}

.colors-list__color {
  @include button-reset;

  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;

  @media (max-width: $screen-sm) {
    width: 26px;
    height: 26px;
  }
}

.product-item__image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin-top: 33px;
  overflow: hidden;

  & picture[data-color-picker-image-hidden] {
    display: none;
  }

  @media (max-width: $screen-sm) {
    margin-top: 15px;
    margin-bottom: 8px;
  }
}

.product-item__image {
  height: 100%;
  object-fit: contain;
}

.product-categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  z-index: $zindex-header + 1;

  &.sticky {
    position: fixed;
    top: 0;

    .product-categories {
      padding: 21px 40px 14px;
      background: $color-secondary;
      box-shadow: 0px 4px 4px rgba($color-main, 0.25);

      &::after {
        content: none;
      }
    }

    & + .product-list {
      margin-top: 80px + 25px;
    }

    .product-categories__title,
    .product-categories-list__link {
      padding-bottom: 7px;
    }
  }

  @media (max-width: $screen-sm) {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    &.sticky {
      padding-left: 0;
      padding-right: 0;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba($color-main, 0.1);
      }

      .product-categories {
        justify-content: space-between;
        padding: 22px 16px 14px;
      }
    }
  }
}

.product-categories {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color-main, 0.1);
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }
}

.product-list .product-item.product-item-categories {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.product-categories__title {
  padding-bottom: 16px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  @media (max-width: $screen-sm) {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 17px;
  }
}

.product-categories-list {
  position: relative;
  display: flex;
  align-items: center;
}

.product-categories-list__item {
  padding: 0 10px;

  &:last-child {
    padding-right: 0;
  }

  &--active > .product-categories-list__link {
    border-bottom: 1px solid $color-main;
    color: $color-main;
  }

  @media (max-width: $screen-sm) {
    margin-top: 0;
  }
}

.product-categories-list__link {
  display: block;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  color: rgba($color-main, 0.4);
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $screen-sm) {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 17px;
  }
}
