.section-about {
  padding: 90px 63px;
  background-color: $color-orange;

  @media (max-width: $screen-md) {
    padding: 64px 36px;
  }

  @media (max-width: $screen-sm) {
    padding: 43px 15px 46px;
  }
}

.about-title {
  font-size: 43.45px;
  line-height: 54.3125px;
  text-transform: uppercase;

  @media (max-width: $screen-md) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (max-width: $screen-sm) {
    font-size: 28px;
    line-height: 38px;
  }
}

.about-notice {
  margin-top: 90px;
  font-size: 43.45px;
  line-height: 54.3125px;

  @media (max-width: $screen-md) {
    margin-top: 40px;
    font-size: 36px;
    line-height: 44px;
  }

  @media (max-width: $screen-sm) {
    margin-top: 40px;
    font-size: 28px;
    line-height: 38px;
  }
}

.section-info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0;

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.faq {
  padding: 63px 63px 85px;
  background-color: $color-yellow;

  @media (max-width: $screen-md) {
    padding: 48px 24px 52px;
  }

  @media (max-width: $screen-sm) {
    padding: 36px 15px 41px;
  }
}

.faq__title {
  margin-bottom: -2px;
  font-size: 36px;
  line-height: 40px;

  @media (max-width: $screen-sm) {
    margin-bottom: -8px;
    font-size: 18px;
    line-height: 24px;
  }
}

.faq-questions__item {
  margin-top: 35px;

  @media (max-width: $screen-md) {
    margin-top: 20px;

    &.is-active {
      .faq-questions__expand {
        transform: rotate(-180deg);
      }
    }

    &.is-active + & {
      margin-top: 15px;
    }
  }
}

.faq-questions__title {
  position: relative;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 1.15;

  @media (max-width: $screen-md-xx) {
    font-size: 30px;
  }

  @media (max-width: $screen-md) {
    margin-bottom: 0;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid $color-main;
    cursor: pointer;
  }

  @media (max-width: $screen-sm) {
    padding-right: 20px;
  }
}

.faq-questions__expand {
  display: none;

  @media (max-width: $screen-md) {
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    display: block;
    width: 16px;
    height: 9px;
    transform: translateY(-50%);
    background-image: url("../icons/arrow-down.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform $transition-duration ease-in-out;
  }
}

.faq-questions__panel-content {
  font-size: 24px;
  line-height: 29px;

  @media (max-width: $screen-md) {
    padding-top: 10px;
    font-size: 14px;
    line-height: 19px;
  }
}

.contacts {
  padding: 63px 63px 85px;
  background-color: $color-pink;

  @media (max-width: $screen-md) {
    padding: 48px 24px 52px;
  }

  @media (max-width: $screen-sm) {
    padding: 36px 15px 34px;
  }
}

.contacts__title {
  font-size: 36px;
  line-height: 40px;
  text-indent: 1px;
  text-transform: uppercase;

  @media (max-width: $screen-md-xx) {
    font-size: 32px;
    line-height: 36px;
  }

  @media (max-width: $screen-md) {
    font-size: 18px;
    line-height: 24px;
  }
}

.contacts__row {
  margin-top: 35px;
  font-size: 36px;
  line-height: 50px;
  text-indent: 1px;
  text-transform: uppercase;

  @media (max-width: $screen-md-xx) {
    font-size: 32px;
    line-height: 46px;
  }

  @media (max-width: $screen-md) {
    margin-top: 19px;
    font-size: 18px;
    line-height: 22px;
  }
}

.contacts__label {
  display: block;
}

.contacts__value {
  display: block;
  color: $color-main;
  text-decoration: none;
}
