.hero {
  position: relative;
  height: 640px;
  background-image: url("../images/bg-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../images/bg-main@2x.png");
  }

  @media (min-width: $screen-xl) {
    height: 75vw;
    max-height: 1600px;
  }

  @media (min-width: $screen-xl) and (max-height: 1200px) {
    height: calc(100vh - 102px - 36px);
  }

  @media (max-width: $screen-sm-x) {
    height: auto;
  }
}

.hero__video {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.hero__buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(793px + 80px);
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $screen-sm) {
    bottom: 40px;
    justify-content: center;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero__button {
  flex-shrink: 0;

  @media (max-width: $screen-sm) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: $screen-xxs) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.section-products {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: $color-gray;

  @media (max-width: $screen-sm) {
    padding-top: 32px;
    padding-bottom: 0;
  }
}

.product-item.revealed .product-item__image {
  animation-duration: var(--animate-duration);
  animation-iteration-count: var(--animate-repeat);
  animation-delay: var(--animate-delay);
  animation-fill-mode: both;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

.product-list {
  margin-top: 300px;

  &:first-of-type {
    margin-top: 0;
  }
}

.product-list.shakeX .product-item.revealed .product-item__image {
  @include shakeX;
}

.product-list.headShake .product-item.revealed .product-item__image {
  @include headShake;
}

.product-list.swing .product-item.revealed .product-item__image {
  @include swing;
}

.product-list.tada .product-item.revealed .product-item__image {
  @include tada;
}

.section__title {
  max-width: calc(956px + 15px * 2);
  margin: 0 auto 24px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (max-width: $screen-sm) {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 28px;
  }
}

.section__notice {
  max-width: calc(956px + 15px * 2);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  @media (max-width: $screen-sm) {
    font-size: 14px;
    line-height: 17px;
  }
}

.products__see-more {
  display: block;
  margin-top: 44px;
  font-size: 23px;
  line-height: 23px;
  color: $color-main;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: $screen-sm) {
    margin-top: 0;
    padding-bottom: 37px;
    font-size: 18px;
    line-height: 18px;
    background-color: $color-gray;
    text-decoration: underline;
  }
}

.section-generator {
  padding-top: 72px;
  padding-bottom: 88px;
  background-color: $color-yellow;

  .section__notice {
    max-width: 651px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}

.generator__image {
  display: block;
  width: 80%;
  max-width: 665px;
  height: auto;
  margin: 34px auto 0;
}

.generator__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(793px + 60px);
  padding-left: 30px;
  padding-right: 30px;
  margin: 53px auto 0;

  @media (max-width: $screen-xxs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section-banners {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  grid-auto-rows: minmax(552px, auto);

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.banners__col {
  height: 552px;
}

.banners-col1 {
  padding-top: 78px;
  background-color: $color-main;
}

.banners-col1__title {
  max-width: 500px;
  margin-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
  font-size: 72px;
  line-height: 86px;
  text-align: center;
  color: $color-secondary;
}

.banners-col1__notice {
  max-width: 343px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-secondary;
}

.banners-col2 {
  overflow: hidden;
}

.banners-col2__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
