.section-product {
  padding: 100px 0 100px;
  background-color: $color-gray;

  @media (max-width: $screen-sm) {
    padding: 50px 0 55px;
  }
}

.product {
  display: flex;
  justify-content: center;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.product__image-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44%;
  max-width: 517px;
  height: 517px;
  margin-right: 9%;

  & picture {
    width: 100%;
  }

  & picture[data-color-picker-image-hidden] {
    display: none;
  }

  @media (max-width: $screen-md-xx) {
    max-width: 485px;
    margin-right: 5%;
  }

  @media (max-width: $screen-md) {
    width: 45%;
    max-width: 450px;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.product__image {
  width: 100%;
  height: auto;
}

.product__content {
  flex-shrink: 0;
  width: 485px;
  text-align: center;

  @media (max-width: $screen-md) {
    width: 40%;
    max-width: 450px;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }
}

.product__title--mobile {
  display: none;

  @media (max-width: $screen-sm) {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
}

.product__notice--mobile {
  display: none;

  @media (max-width: $screen-sm) {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
}

.product__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.product__notice {
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 24px;

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.product__colors-title {
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 18px;

  @media (max-width: $screen-sm) {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 12px;
  }
}

.product__colors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;

  .colors-button {
    .icon {
      width: 48px;
      height: 26px;
    }

    &:hover {
      .icon-arrow-right {
        background-image: svg-load("../icons/arrow-right.svg");
        opacity: 0.7;
      }

      .icon-arrow-left {
        background-image: svg-load("../icons/arrow-left.svg");
        opacity: 0.7;
      }
    }
  }

  .colors-list-wrapper {
    width: calc((56px * 4) + (17px * 8));
  }

  & .colors-list__item,
  & .colors-list__color {
    width: 56px;
    height: 56px;
  }

  & .colors-button--left {
    padding: 10px 14px 10px 0;
  }

  & .colors-button--right {
    padding: 10px 0 10px 14px;
  }

  & .colors-list__item {
    margin-left: 17px;
    margin-right: 17px;
  }

  @media (max-width: $screen-md) {
    margin-bottom: 26px;

    .colors-list-wrapper {
      width: calc((30px * 4) + (10px * 8));
    }

    .colors-button .icon {
      width: 36px;
      height: 19px;
    }

    & .colors-list__item,
    & .colors-list__color {
      width: 30px;
      height: 30px;
    }

    & .colors-list__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 16px;

    .colors-list-wrapper {
      width: calc((26px * 4) + (10px * 8));
    }

    .colors-button .icon {
      width: 28px;
      height: 16px;
    }

    & .colors-list__item,
    & .colors-list__color {
      width: 26px;
      height: 26px;
    }

    & .colors-list__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.product__colors-notice {
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 18px;

  @media (max-width: $screen-sm) {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 12px;
  }
}

.section-product-info {
  padding: 100px 0;

  @media (max-width: $screen-sm) {
    padding: 40px 0 43px;

    .section__title {
      font-size: 20px;
      line-height: 25px;
    }

    .section__notice {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.section-product-description {
  grid-gap: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 50% 50%;
  background-color: $color-gray;

  @media (max-width: $screen-md) {
    display: block;
  }
}

.description-col1 {
  // position: relative;
  // max-height: 600px;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;

  & > .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $screen-sm) {
    // height: 260px;
  }
}

.video-play-button {
  @include button-reset;

  display: block;
  width: 100%;
  height: 100%;
}

.description-col1__image {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.description-col1__notice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  z-index: 2;

  @media (max-width: $screen-md) {
    font-size: 30px;
  }
}

.description-col2 {
  grid-row-end: span 2;
  padding: 50px 70px 83px 50px;
  background-color: $color-orange;

  @media (max-width: $screen-lg) {
    // padding: 50px 50px 53px 50px;
    padding: 30px 24px 53px;
  }

  @media (max-width: $screen-sm) {
    padding: 37px 15px 40px;
  }
}

.description-col2__content {
  margin-bottom: 100px;
  font-size: 24px;
  line-height: 30px;

  & p {
    margin-bottom: 39px;
  }

  & strong {
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-indent: 1px;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-lg) {
    margin-bottom: 50px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 39px;
    font-size: 14px;
    line-height: 22px;

    & p {
      margin-bottom: 28px;
    }

    & strong {
      margin-bottom: 3px;
      font-size: 20px;
      line-height: 22px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.description-col2 .product__button-add {
  display: block;
  margin: 0 auto;
}

.description-col3 {
  position: relative;
  height: 750px;
  margin-top: auto;
  padding: 50px 0;
  background-color: $color-gray;

  &:hover {
    .description-col3__notice {
      pointer-events: none;
      opacity: 0;
    }
  }

  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  .swiper-button-prev {
    position: absolute;
    left: 58px;
    bottom: 0;
    z-index: 100;
    cursor: pointer;

    &:hover {
      .icon-arrow-left {
        background-image: svg-load("../icons/arrow-left.svg", stroke = $color-purple-light);
      }
    }
  }

  .swiper-button-next {
    position: absolute;
    right: 58px;
    bottom: 0;
    z-index: 100;
    cursor: pointer;

    &:hover {
      .icon-arrow-right {
        background-image: svg-load("../icons/arrow-right.svg", stroke = $color-purple-light);
      }
    }
  }

  @media (max-width: $screen-sm) {
    height: 360px;
    padding: 35px 0;

    .swiper-slide {
      img {
        max-height: 280px;
      }
    }

    .swiper-button-prev {
      left: 30px;

      & .icon {
        width: 28px;
        height: 16px;
      }
    }

    .swiper-button-next {
      right: 30px;

      & .icon {
        width: 28px;
        height: 16px;
      }
    }
  }
}

.description-col3__notice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  white-space: nowrap;
  z-index: 2;

  @media (max-width: $screen-md) {
    font-size: 30px;
  }
}
