.footer__row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  grid-auto-rows: minmax(226px, auto);

  @media (max-width: $screen-md-x) {
    grid-auto-rows: minmax(41px, auto);
  }
}

.footer__col--2rows {
  grid-row-end: span 2;

  @media (max-width: $screen-md-x) {
    grid-row-end: span 4;
  }
}

.footer__col--medium {
  height: 406px;

  @media (max-width: $screen-sm) {
    grid-row-end: span 4;
    height: 264px;
  }
}

.footer-col1 {
  background-color: $color-green;
}

.footer-socials-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.footer-socials-menu__link {
  font-size: 50px;
  line-height: 115px;
  color: $color-main;
  text-decoration: none;

  @media (max-width: $screen-sm) {
    font-size: 18px;
    line-height: 40px;
  }
}

.footer-col2 {
  background-color: $color-gray-light;
}

.footer-col3 {
  background-color: $color-orange;
}

.footer-col2__link,
.footer-col3__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  line-height: 68px;
  color: $color-main;
  text-decoration: none;

  @media (max-width: $screen-sm) {
    font-size: 18px;
    line-height: 24px;
  }
}

.footer-col4 {
  padding: 0 50px;
  background-color: $color-purple;

  @media (max-width: $screen-sm) {
    padding: 0 32px;
  }
}

.footer-col4__image {
  display: block;
  margin: 127px auto 82px;
  width: 90%;
  max-width: 271px;
  height: auto;

  @media (max-width: $screen-sm) {
    max-width: 94px;
    margin-top: 100px;
    margin-bottom: 56px;
  }
}

.footer-col4__notice {
  font-size: 18px;
  line-height: 24px;

  @media (max-width: $screen-sm) {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer-col5 {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: $color-green;

  @media (max-width: $screen-md-x) {
    .newsletter-form {
      display: none;
    }
  }

  @media (max-width: $screen-md-x) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  @media (max-width: $screen-sm) {
    padding-bottom: 28px;
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: auto;

  @media (max-width: $screen-md-x) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

.footer-menu {
  max-width: 190px;

  @media (max-width: $screen-md-x) {
    max-width: 100%;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-sm) {
    margin-top: 20px;
    margin-bottom: 0;

    &:last-child {
      margin-top: 0;
    }
  }
}

.footer-menu__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 0;
  }
}

.footer-menu--socials {
  .footer-menu__link {
    & > .icon {
      display: none;
    }
  }

  @media (max-width: $screen-sm) {
    display: flex;
    align-items: center;

    .footer-menu__category {
      display: none;
    }

    .footer-menu__item {
      padding-left: 8px;
      padding-right: 8px;
    }

    .footer-menu__link {
      width: 32px;
      height: 32px;

      & > .icon {
        display: block;
        width: 100%;
        height: 100%;
      }

      & > .text {
        display: none;
      }
    }
  }
}

.footer-menu__link {
  font-size: 18px;
  line-height: 24px;
  color: $color-main;
  text-decoration: none;

  @media (max-width: $screen-sm) {
    font-size: 12px;
    line-height: 19px;
  }
}

.footer-menu__category {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: $screen-sm) {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer-col-form-mobile {
  display: none;

  @media (max-width: $screen-md-x) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row-end: span 2;
    height: 100%;
    background-color: $color-green;
  }
}

.newsletter-form {
  margin-top: auto;
}

.newsletter-form__title {
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  
  @media (max-width: $screen-sm) {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
  }
}

.newsletter-form__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.newsletter-form__input {
  flex-grow: 1;
  height: 42px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  background: #fff;

  @media (max-width: $screen-sm) {
    width: 60%;
    height: 24px;
  }
}

.newsletter-form__submit {
  max-width: 35%;
  height: 42px;
  margin-left: 10px;
  white-space: nowrap;

  @media (max-width: $screen-sm) {
    width: 125px;
    height: 24px;
    font-size: 14px;
    line-height: 1.2;
  }

  @media (max-width: $screen-xs) {
    width: 40%;
    font-size: 11px;
  }
}
