$header-height: 102px;

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 822px;
  background-color: $color-yellow;
  transform: translateX(100%);
  overflow-x: hidden;
  z-index: $zindex-sidebar;

  &__header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px;
    height: 60px;
  }

  .sidenav__logo-image {
    width: 64px;
    height: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 20px;
    padding-right: 17px;
  }

  .sidenav-nav {
    padding-top: 18px;
  }

  .sidenav__item {
    margin-top: 25px;
  }

  .sidenav__link {
    font-size: 30px;
    line-height: 41px;
    color: $color-main;
    text-decoration: none;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 20px;
  }

  .sidenav__lang-link {
    font-size: 30px;
    line-height: 41px;
    color: $color-main;
  }

  .sidenav-social-menu {
    display: flex;
    align-items: center;
  }

  .sidenav-social-link {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-right: 8px;

    & .icon {
      width: 100%;
      height: 100%;
    }
  }
}

.sidenav-trigger {
  @include button-reset;

  @media (min-width: $screen-sm + 1) {
    display: none;
  }
}

.looped-text {
  height: 36px;
  padding: 6px 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-secondary;
  background-color: $color-main;
  white-space: nowrap;
  overflow: hidden;

  @media (max-width: $screen-md-xx) {
    line-height: 28px;
  }

  @media (max-width: $screen-sm) {
    height: 25px;
    padding: 5px 0 4px;
    font-size: 12px;
    line-height: 16px;
  }
}

.looped-text__content {
  animation: scroll 4s linear infinite;

  @media (max-width: $screen-md-xx) {
    animation: scrollMedium 4s linear infinite;
  }

  @media (max-width: $screen-sm) {
    animation: scrollMobile 4s linear infinite;
  }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-245px)}
}

@keyframes scrollMedium {
	0% { transform: translateX(0); }
	100% { transform: translateX(-229px)}
}

@keyframes scrollMobile {
	0% { transform: translateX(0); }
	100% { transform: translateX(-163px)}
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $header-height;
  padding: 0 40px;
  background-color: $color-secondary;

  &.sticky {
    position: fixed;
    top: 0;
    height: 56px;
    box-shadow: 0px 4px 4px 1px rgba($color-main, 0.25);
    z-index: $zindex-header;

    .header__logo-image {
      width: 71px;
      height: auto;
    }
  }

  @media (max-width: $screen-sm) {
    height: 60px;
    padding: 0 17px 0 20px;

    &.sticky  {
      height: 60px;
    }
  }
}

.sticky + .main {
  padding-top: $header-height;

  @media (max-width: $screen-sm) {
    padding-top: 60px;
  }
}

.header__logo-image {
  @media (max-width: $screen-sm) {
    width: 64px;
    height: auto;
  }
}

.header__nav {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-item {
  padding: 0 50px;
}

.header__menu-link {
  font-size: 18px;
  line-height: 18px;
  color: $color-main;
  text-transform: uppercase;
  text-decoration: none;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.header__logo,
.header__right {
  max-width: 225px;
  flex-basis: 30%;
}

.header__social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;

  @media (max-width: $screen-md) {
    padding-right: 20px;
  }
}

.header__social-menu-item {
  padding: 0 8px;
}

.header__social-link {
  display: block;
  width: 24px;
  height: 24px;

  & > .icon {
    width: 100%;
    height: 100%;
  }
}

.header__lang {
  position: relative;
  padding-left: 40px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba($color-main, 0.1);
  }

  @media (max-width: $screen-md) {
    padding-left: 20px;
  }
}

.header__lang-link {
  font-size: 18px;
  line-height: 18px;
  color: $color-main;
  text-decoration: none;
}
