.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-instagram {
  width: 24px;
  height: 24px;
  background-image: svg-load('../icons/instagram.svg');
}

.icon-tiktok {
  width: 24px;
  height: 24px;
  background-image: svg-load('../icons/tiktok.svg');
}

.icon-telegram {
  width: 24px;
  height: 24px;
  background-image: svg-load('../icons/telegram.svg');
}

.icon-burger {
  width: 26px;
  height: 26px;
  background-image: svg-load('../icons/burger.svg');
}

.icon-cross {
  width: 26px;
  height: 26px;
  background-image: svg-load('../icons/cross.svg');
}
