<% if (showFooter) { %>
<footer class="footer">
  <div class="footer__row">
    <div class="footer__col footer__col--2rows footer-col1">
      <nav class="footer-socials-nav">
        <ul class="footer-socials-menu">
          <li class="footer-socials-menu__item">
            <a class="footer-socials-menu__link" href="#">INSTAGRAM</a>
          </li>
          <li class="footer-socials-menu__item">
            <a class="footer-socials-menu__link" href="#">TIKTOK</a>
          </li>
          <li class="footer-socials-menu__item">
            <a class="footer-socials-menu__link" href="#">TELEGRAM</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__col footer-col2">
      <a class="footer-col2__link" href="shop.html">SHOP</a>
    </div>
    <div class="footer__col footer-col3">
      <a class="footer-col3__link" href="about.html">ABOUT</a>
    </div>

    <form class="footer__col footer-col-form-mobile newsletter-form">
      <p class="newsletter-form__title">NEWSLETTER</p>

      <div class="newsletter-form__row">
        <input class="newsletter-form__input" type="text" value="">
        <button class="button newsletter-form__submit" type="submit">SIGN UP</button>
      </div>
    </form>

    <div class="footer__col footer__col--medium footer-col4">
      <picture>
        <source srcset="images/logo@2x.png 2x, images/logo.png 1x" />
        <img src="images/logo.png" alt="RAD" class="footer-col4__image" width="271" height="137" />
      </picture>

      <p class="footer-col4__notice">2021 RAD NOT BAD- All Rights Reserved</p>
    </div>
    <div class="footer__col footer__col--medium footer-col5">
      <form class="newsletter-form">
        <p class="newsletter-form__title">NEWSLETTER</p>

        <div class="newsletter-form__row">
          <input class="newsletter-form__input" type="text" value="">
          <button class="button newsletter-form__submit" type="submit">SIGN UP</button>
        </div>
      </form>

      <nav class="footer-nav">
        <ul class="footer-menu">
          <li class="footer-menu__item footer-menu__category">ПОМОЩЬ</li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="about.html#faq">FAQ</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="about.html#contacts">Связаться с нами</a>
          </li>
        </ul>

        <ul class="footer-menu">
          <li class="footer-menu__item footer-menu__category">ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="privacy.html">Политика конфиденциальности</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="privacy.html">Положения и условия</a>
          </li>
        </ul>

        <ul class="footer-menu footer-menu--socials">
          <li class="footer-menu__item footer-menu__category">СЛЕДИТЕ ЗА НАМИ</li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"><span class="text">Instagram</span><span class="icon icon-instagram"></span></a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"><span class="text">TikTok</span><span class="icon icon-tiktok"></span></a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"><span class="text">Telegram</span><span class="icon icon-telegram"></span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<% } %>

<%=obj.scripts%>
<% if (includeScripts) { %>
<script src="js/bundle.js?v=4.0.1"></script>
<% } %>
</body>
</html>
