<% var data = {
title: "RAD",
showHeader: true,
showFooter: true,
includeScripts: true,
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <section class="section section-about">
    <p class="about-title">AN ODE TO POTENTIAL (OR: AN ODE TO EVERYTHING THAT COULD BE, SHOULD BE AND WILL BE)</p>
    <p class="about-notice">Someone told me that there is something greater in all of us. And that once you see this, you see beauty in everything and each and everyone. I saw you the other day and knew one thing&nbsp;for&nbsp;sure. The more you do you, the easier it is for others to shine. And when shiny people get together, everything changes for good. So, today is the day&nbsp;and here’s the plan: let’s do this.&nbsp;Together. RAD radical lovers of everything about you. [SAXOPHONE&nbsp;SOLO]</p>
  </section>

  <section class="section section-info">
    <div class="faq" id="faq">
      <p class="faq__title">FAQ</p>

      <ul class="faq-questions">
        <li class="faq-questions__item">
          <div class="faq-questions__title">
            1. Are the products vegan?
            <span class="faq-questions__expand"></span>
          </div>
          <div class="faq-questions__panel">
            <div class="faq-questions__panel-content">
              And when shiny people get together, everything changes for good. So, today is the day and here’s the plan: let’s do this. Together. RAD radical lovers of everything about you.
            </div>
          </div>
        </li>
        <li class="faq-questions__item">
          <div class="faq-questions__title">
            2. Are the products vegan?
            <span class="faq-questions__expand"></span>
          </div>
          <div class="faq-questions__panel">
            <div class="faq-questions__panel-content">
              And when shiny people get together, everything changes for good. So, today is the day and here’s the plan: let’s do this. Together. RAD radical lovers of everything about you.
            </div>
          </div>
        </li>
        <li class="faq-questions__item">
          <div class="faq-questions__title">
            3. Are the products vegan?
            <span class="faq-questions__expand"></span>
          </div>
          <div class="faq-questions__panel">
            <div class="faq-questions__panel-content">
              And when shiny people get together, everything changes for good. So, today is the day and here’s the plan: let’s do this. Together. RAD radical lovers of everything about you.
            </div>
          </div>
        </li>
        <li class="faq-questions__item">
          <div class="faq-questions__title">
            4. Are the products vegan?
            <span class="faq-questions__expand"></span>
          </div>
          <div class="faq-questions__panel">
            <div class="faq-questions__panel-content">
              And when shiny people get together, everything changes for good. So, today is the day and here’s the plan: let’s do this. Together. RAD radical lovers of everything about you.
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="contacts" id="contacts">
      <p class="contacts__title">CONTACT</p>

      <p class="contacts__row">
      <span class="contacts__label">EMAIL:</span>
      <a class="contacts__value" href="mailto:radnotbad@gmail.com">radnotbad@gmail.com</a>
      </p>

      <p class="contacts__row">
      <a class="contacts__value" href="#">@radnotbad</a>
      </p>

      <p class="contacts__row">
      <span class="contacts__label">TELEGRAM:</span>
      <a class="contacts__value" href="#">+4955555555555</a>
      </p>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
