<% var data = {
title: "BrandLab",
showHeader: true,
showFooter: true,
includeScripts: true,
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <section class="section section-hero">
    <div class="hero">
      <div class="hero__buttons">
        <a class="button hero__button" href="shop.html">SHOP NOW</a>
        <button class="button hero__button" type="button">CREATE</button>
      </div>
    </div>
  </section>

  <section class="section section-products">
    <h2 class="section__title">Beauty products inspired by real skin</h2>
    <p class="section__notice">We co-create our products together with our community. We strive to select effective and 100% vegan formulas for each hero product that we launch and we make it bold!</p>

    <ul class="product-list">
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
    </ul>

    <a href="#" class="products__see-more">SEE MORE</a>
  </section>

  <section class="section section-generator">
    <p class="section__notice">I'm RAD MEME GENERATOR.<br>I am an artificial intelligence dedicated to&nbsp;generating&nbsp;unlimited amounts of unique inspirational quotes for endless enrichment of pointless human existence.</p>

    <picture>
      <source srcset="images/generator@2x.png 2x, images/generator.png 1x" />
      <img loading="lazy" src="images/generator.png" alt="RAD Worldwide" class="generator__image" width="665" height="460" />
    </picture>

    <div class="generator__buttons">
      <button class="button generator__button" type="button">CREATE</button>
      <button class="button generator__button" type="button">DOWNLOAD</button>
    </div>
  </section>

  <section class="section section-banners">
    <div class="banners__col banners-col1">
      <p class="banners-col1__title">WHAT WE BELIEVE IN RAD</p>
      <p class="banners-col1__notice">radical lovers of everything about you</p>
    </div>
    <div class="banners__col banners-col2">
      <picture>
        <source srcset="images/footer-photo@2x.png 2x, images/footer-photo.png 1x" />
        <img loading="lazy" src="images/footer-photo.png" alt="" class="banners-col2__image" width="720" height="552" />
      </picture>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
