<% var data = {
title: "BrandLab",
showHeader: true,
showFooter: true,
includeScripts: true,
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <section class="section section-privacy">
    <p class="privacy-title">PRIVACY POLICY</p>
    <div class="privacy-notice">
      <p class="privacy-notice__content">Billie Inc. (“Billie”, “we” or “us”), the operator of the www.mybillie.com site (the “Site”), is committed to preserving the privacy of those who visit and interact with the Site. This Privacy Policy outlines how we gather and utilize various sources of personal information obtained during your visit to and use of the Site. This Privacy Policy communicates how, when, and why we gather personal information about our customers and what we do with it. This Privacy Policy does not apply to other websites to which we link.

        Capitalized terms not defined in this Privacy Policy shall have the meaning set forth in our Terms of Use.

        PERSONAL INFORMATION WE COLLECT
        The categories of personal information we collect depend on whether you are a visitor, customer or applicant, and the requirements of applicable law. We collect personal information that you provide to us, personal information we obtain automatically when you use our Site, and personal information from other sources such as third-party services and organizations, as described below.

        A. Personal Information You Provide to Us Directly
        We may collect the following personal information that you provide to us:

        Account Creation. In order to use certain features of our Site and Services, you must create an account. We may ask you for your name, email address, shipping address, and telephone number, and certain other personal information about yourself.
      </p>

      <button class="privacy-read-more" type="button">Read more</button>

      <p class="privacy-notice__content privacy-notice__more">PERSONAL INFORMATION WE COLLECT
      The categories of personal information we collect depend on whether you are a visitor, customer or applicant, and the requirements of applicable law. We collect personal information that you provide to us, personal information we obtain automatically when you use our Site, and personal information from other sources such as third-party services and organizations, as described below.

      A. Personal Information You Provide to Us Directly
      We may collect the following personal information that you provide to us:

      Account Creation. In order to use certain features of our Site and Services, you must create an account. We may ask you for your name, email address, shipping address, and telephone number, and certain other personal information about yourself.

      PERSONAL INFORMATION WE COLLECT
      The categories of personal information we collect depend on whether you are a visitor, customer or applicant, and the requirements of applicable law. We collect personal information that you provide to us, personal information we obtain automatically when you use our Site, and personal information from other sources such as third-party services and organizations, as described below.

      A. Personal Information You Provide to Us Directly
      We may collect the following personal information that you provide to us:

      Account Creation. In order to use certain features of our Site and Services, you must create an account. We may ask you for your name, email address, shipping address, and telephone number, and certain other personal information about yourself.

      PERSONAL INFORMATION WE COLLECT
      The categories of personal information we collect depend on whether you are a visitor, customer or applicant, and the requirements of applicable law. We collect personal information that you provide to us, personal information we obtain automatically when you use our Site, and personal information from other sources such as third-party services and organizations, as described below.

      A. Personal Information You Provide to Us Directly
      We may collect the following personal information that you provide to us:

      Account Creation. In order to use certain features of our Site and Services, you must create an account. We may ask you for your name, email address, shipping address, and telephone number, and certain other personal information about yourself.

      PERSONAL INFORMATION WE COLLECT
      The categories of personal information we collect depend on whether you are a visitor, customer or applicant, and the requirements of applicable law. We collect personal information that you provide to us, personal information we obtain automatically when you use our Site, and personal information from other sources such as third-party services and organizations, as described below.

      A. Personal Information You Provide to Us Directly
      We may collect the following personal information that you provide to us:

      Account Creation. In order to use certain features of our Site and Services, you must create an account. We may ask you for your name, email address, shipping address, and telephone number, and certain other personal information about yourself.
      </p>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
