<% var data = {
title: "RAD",
showHeader: true,
showFooter: true,
includeScripts: true,
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <section class="section section-product">
    <div class="product" data-color-picker-wrapper="">
      <p class="product__title--mobile">MASCARA</p>
      <p class="product__notice--mobile">SYNERGY IS OUR FRIEND</p>

      <div class="product__image-container" data-color-picker-images="">
        <picture>
          <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
          <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" />
        </picture>

        <picture>
          <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
          <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" style="background: #8F3733;" />
        </picture>

        <picture>
          <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
          <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" style="background: #E33527;" />
        </picture>

        <picture>
          <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
          <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" style="background: #F9E2D6;" />
        </picture>

        <picture>
          <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
          <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" style="background: #FF7700;" />
        </picture>

        <picture>
          <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
          <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" style="background: #ABCDEF;" />
        </picture>
      </div>

      <div class="product__content">
        <p class="product__title">MASCARA</p>
        <p class="product__notice">SYNERGY IS OUR FRIEND</p>

        <p class="product__colors-title">PICK A COLOR</p>

        <div class="product__colors" data-color-picker="">
          <button type="button" class="colors-button colors-button--left" data-color-picker-prev=""><span class="icon icon-arrow-left"></button>

          <div class="colors-list-wrapper">
            <ul class="colors-list" data-color-picker-list="">
              <li class="colors-list__item">
                <button class="colors-list__color" type="button" style="background-color: #F2AEBC;"></button>
              </li>
              <li class="colors-list__item">
                <button class="colors-list__color" type="button" style="background-color: #8F3733;"></button>
              </li>
              <li class="colors-list__item">
                <button class="colors-list__color" type="button" style="background-color: #E33527;"></button>
              </li>
              <li class="colors-list__item">
                <button class="colors-list__color" type="button" style="background-color: #F9E2D6;"></button>
              </li>

              <li class="colors-list__item" data-color-picker-active="">
                <button class="colors-list__color" type="button" style="background-color: #FF7700;"></button>
              </li>
              <li class="colors-list__item">
                <button class="colors-list__color" type="button" style="background-color: #ABCDEF;"></button>
              </li>
            </ul>
          </div>

          <button type="button" class="colors-button colors-button--right" data-color-picker-next=""><span class="icon icon-arrow-right"></button>
        </div>

        <p class="product__colors-notice">COLOR — I LOVE THIS ONE</p>

        <button class="button button--secondary product__button-add" type="button">ADD - FROM 15$</button>
      </div>
    </div>
  </section>

  <section class="section section-product-info">
    <h2 class="section__title">SYNERGY IS OUR FRIEND</h2>
    <p class="section__notice">There’s no need for lip balm to have more than a handful of ingredients in it. formulated with only the essentials, super salve is super simple and super good for you. nourishing, hydrating, buttery – an everyday balm to rule them all. comes in unusual, not-your-average delicious flavors. fig is a deep moody purple, rhubarb is a bright fire engine red, and sorbet is a sheer wash of soft pink. oh, and there’s also 3 untinted flavors. balm appetite!</p>
  </section>

  <section class="section section-product-description">
    <div class="description__col description-col1">
      <div class="description-col1__video">
        <iframe class="video" width="1424" height="627" src="https://www.youtube.com/embed/rUdc0sF2-Z8?rel=0&amp;fs=0&amp;controls=0&amp;modestbranding=1&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <button type="button" class="video-play-button">
        <picture>
          <source srcset="images/video@2x.png 2x, images/video.png 1x" />
          <img loading="lazy" src="images/video.png" alt="Video" class="description-col1__image" width="719" height="600" />
        </picture>
        <p class="description-col1__notice">VIDEO</p>
      </button>
    </div>
    <div class="description__col description-col2">
      <div class="description-col2__content">
        <p>
        <strong>THE BEST BITS – BROKEN DOWN:</strong>
        </p>

        <p>
        <strong>ONE HIT FOR HIGH VOLUME. HIGH&nbsp;VOLUME</strong>
        <br>
        Unique heart-shaped fibers lock onto lashes for long-lasting volume. Unlike cylindrical fibers which can appear spidery, the hollow heart-shaped fibers lay in each direction and fill with formula for maximum volume. The result? Fluffy, full, voluminous lashes.
        </p>

        <p>
        <strong>PUFF PUFF BRUSH</strong>
        <br>
        The tapered tree-shaped Puff Puff Brush with criss-cross, medium-firm bristles catches and coats every single lash in intense black mineral pigment for a defined, clump-free effect. Layer for added volume. Component is carved out of a solid block of aluminum for an unmatched luxe feel.
        </p>
        <p>
        <strong>DIRECTIONS</strong>
        <br>
        Wiggle the Puff Puff Brush from the root of the lashes to the tip, using the brush head to reach and define inner and bottom lashes. Add coats for intense volume that stays clump-free.
        </p>
        <p>
        <strong>INGREDIENTS</strong>
        <br>
        Methyl Trimethicone, Titanium Dioxide (CI 77891), Mica, Polyethylene, Trimethylsiloxysilicate, Octyldodecanol, Ozokerite, Acrylates/Dimethicone Copolymer, Disteardimonium Hectorite, Propylene Carbonate, Synthetic Fluorphlogopite, Pentaerythrityl Tetra-Di-t-Butyl Hydroxyhydrocinnamate, Tin Oxide.
        </p>

        <button class="link product-button-full-ingridients">See full ingredient list</button>

        <div class="full-ingridients">
          <p class="full-ingridients__title">The best bits – broken down:</p>

          <ul class="full-ingridients__list">
            <li class="full-ingridients__item">
              <div class="full-ingridients__item-image-container">
                <img src="images/bamboo@3x.png" width="87" alt="bamboo" class="full-ingridients__item-image"/>
              </div>

              <div>
                <p class="full-ingridients__item-title">BAMBOO STEM</p>
                <p class="full-ingridients__item-notice">Sunflower oil is packed with omega-9 fatty acids which are amazing at smoothing flaky skin and increasing hydration without ever feeling heavy.</p>
              </div>
            </li>

            <li class="full-ingridients__item">
              <div class="full-ingridients__item-image-container">
                <img src="images/glitters@3x.png" width="87" alt="glitters" class="full-ingridients__item-image"/>
              </div>

              <div>
                <p class="full-ingridients__item-title">ULTRAFINE GLITTERS</p>
                <p class="full-ingridients__item-notice">Super hydrating oil derived from our favorite fruit. P.S. this just in: avocado is a fruit.</p>
              </div>
            </li>

            <li class="full-ingridients__item">
              <div class="full-ingridients__item-image-container">
                <img src="images/silica@3x.png" width="87" alt="silica" class="full-ingridients__item-image"/>
              </div>

              <div>
                <p class="full-ingridients__item-title">Silica powder</p>
                <p class="full-ingridients__item-notice">Candelilla is the go-to Vegan beeswax alternative. Locks in moisture. (Bee-free. Guilt-free).</p>
              </div>
            </li>

            <li class="full-ingridients__item">
              <div class="full-ingridients__item-image-container">
                <img src="images/chamomille@3x.png" width="87" alt="chamomille" class="full-ingridients__item-image"/>
              </div>

              <div>
                <p class="full-ingridients__item-title">CHAMOMILLE</p>
                <p class="full-ingridients__item-notice">Naturally occuring compound that contains Vitamin E – AKA the secret ingredient that makes this balm. so. damn. smooth.</p>
              </div>
            </li>

            <li class="full-ingridients__item">
              <div class="full-ingridients__item-image-container">
                <img src="images/curcuma@3x.png" width="87" alt="curcuma" class="full-ingridients__item-image"/>
              </div>

              <div>
                <p class="full-ingridients__item-title">Curcuma</p>
                <p class="full-ingridients__item-notice">Naturally occuring compound that contains Vitamin E – AKA the secret ingredient that makes this balm. so. damn. smooth.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <button class="button button--secondary product__button-add" type="button">ADD - FROM 15$</button>
    </div>

    <div class="description__col description-col3">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="http://45.147.176.166/upload/iblock/f5f/wwzx5lantlnk7m4qgm7u78hbj1zwj5z6.jpg 2x, /upload/resize_cache/iblock/f5f/2207_2758_1/wwzx5lantlnk7m4qgm7u78hbj1zwj5z6.jpg">
              <img src="http://45.147.176.166/upload/resize_cache/iblock/f5f/2207_2758_1/wwzx5lantlnk7m4qgm7u78hbj1zwj5z6.jpg" alt="Глиттер для лица" class="product__image" width="517" height="517">
            </picture>
          </div>

          <div class="swiper-slide">
            <picture>
              <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
              <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="images/product-2@2x.png 2x, images/product-2.png 1x" />
              <img src="images/product-2.png" alt="product-2" class="product__image" width="517" height="517" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="images/product-1@2x.png 2x, images/product-1.png 1x" />
              <img src="images/product-1.png" alt="product-1" class="product__image" width="517" height="517" />
            </picture>
          </div>
        </div>

        <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
        <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
      </div>

      <p class="description-col3__notice">SLIDESHOW</p>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
