<% var data = {
title: "RAD",
showHeader: true,
showFooter: true,
includeScripts: true,
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <section class="section section-products section-shop">
    <h2 class="section__title">Beauty products inspired by&nbsp;real skin</h2>
    <p class="section__notice">We co-create our products together with our community. We strive to select effective&nbsp;and 100% vegan formulas for&nbsp;each&nbsp;hero product that we launch and&nbsp;we make it bold!</p>

    <div class="product-categories product-categories--mobile">
      <p class="product-categories__title">APPLY ON</p>

      <ul class="product-categories-list">
        <li class="product-categories-list__item product-categories-list__item--active">
          <a class="product-categories-list__link" href="#">ALL</a>
        </li>
        <li class="product-categories-list__item">
          <a class="product-categories-list__link" href="#">FACE</a>
        </li>
        <li class="product-categories-list__item">
          <a class="product-categories-list__link" href="#">LIPS</a>
        </li>
        <li class="product-categories-list__item">
          <a class="product-categories-list__link" href="#">EYES</a>
        </li>
      </ul>
    </div>

    <ul class="product-list">
      <li class="product-item product-item-categories">
        <div class="product-categories">
          <p class="product-categories__title">APPLY ON</p>

          <ul class="product-categories-list">
            <li class="product-categories-list__item product-categories-list__item--active">
              <a class="product-categories-list__link" href="#">ALL</a>
            </li>
            <li class="product-categories-list__item">
              <a class="product-categories-list__link" href="#">FACE</a>
            </li>
            <li class="product-categories-list__item">
              <a class="product-categories-list__link" href="#">LIPS</a>
            </li>
            <li class="product-categories-list__item">
              <a class="product-categories-list__link" href="#">EYES</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item-colors.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item-colors.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
      <li class="product-item">
        <%= _.template(require('./../includes/product-item.html'))() %>
      </li>
    </ul>
  </section>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
